.story {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px -4px 6px rgba(0, 0, 0, 0.1); /* Tạo bóng mờ ở các góc trên */
  }
  
  .story-item {
    text-align: center;
  }
  
  .story-image {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .story-user {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
  }
  